/* CSS DOCUMENT */
@charset "UTF-8";

/* FONTFACE PARA TÍTULOS/SUBT. */

@font-face {
    font-family: 'Chillax REGULAR';
    src: url(fuentes/Chillax-Regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax EXTRALIGHT';
    src: url(fuentes/Chillax-Extralight.otf) format(opentype);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax MEDIUM';
    src: url(fuentes/Chillax-Medium.otf) format(opentype);
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax BOLD';
    src: url(fuentes/Chillax-Bold.otf) format(opentype);
    font-weight: bold;
    font-style: normal;
}

/* SELECTORES UNIVERSALES */
* {
    font-family: 'Inter';
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

/* ESTILOS EN GENERAL */

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Chillax REGULAR';
}

body {
    background-color: rgb(255, 246, 205);
    padding: 0;
    min-width: 300px;
}

footer {
    text-align: center;
    background-color: rgb(66, 66, 160);
    color: rgb(255, 246, 205);
    padding: 50px;
    min-height: 230px;
}

nav {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
    margin: 20px 0 50px 0;
}

p {
    text-wrap-style: pretty;
    font-size: 1rem;
}

li::marker {
    color: rgb(224, 129, 192);
}

ul {
    line-height: 1.3rem;
}

/* título */

h1 {
    font-family: 'Chillax MEDIUM';
    color: rgb(255, 246, 205);
    font-size: 4.5rem;
    letter-spacing: 15px;
    text-align: start;
    line-height: 4.5rem;
    margin-bottom: 20px;
}

/* subtítulos */

h2,
h3 {
    font-family: 'Chillax MEDIUM';
    color: rgb(66, 66, 160);
    line-height: 1.3rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

h3 {
    font-size: 1rem;
    color: rgb(66, 66, 160);
    letter-spacing: 15px;

}

h4 {
    color: rgb(66, 66, 160);
}

/* SELECTORES DE CLASE O ID */

/* 1. HEADER */

#DATOS-ESENCIALES {
    background-color: rgb(66, 66, 160);
    min-height: 300px;
    padding: 30px;
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

#NOMBRE-Y-BAJADA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

#BAJADA-NOMBRE {
    font-family: 'Chillax REGULAR';
    color: rgb(255, 246, 205);
    line-height: 1rem;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

/* 2. MAIN */

#SECCION-CONTACTO {
    line-height: 2.3rem;
    padding: 25px 50px 25px 50px;
    min-height: 100px;
    max-height: 160px;
    border-width: thin;
    border-color: rgb(66, 66, 160);
    border-style: solid;
    border-radius: 100px;
    min-width: 250px;
    max-width: 1080px;
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

#INFO-CONTACTO {
    font-family: 'Chillax REGULAR';
    font-size: 0.8rem;
    color: rgb(66, 66, 160);
    line-height: 1.2rem;
    text-align: center;
    margin: 10px;
}

#PERFIL-PROFESIONAL {
    padding: 40px;

    p {
        color: rgb(63, 63, 63);
        max-width: 700px;
    }
}

.DURACION {
    margin: 10px 0 0 0;
}

#PERF-FORM-EXP {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 700px;
    padding-right: 30px;
}

#HAB-PRO-ID {
    margin: 20px;
    border-left: thin;
    border-left-color: rgb(66, 66, 160);
    border-left-style: solid;
    padding-left: 40px;
}
.PROGRAMAS {
    line-height: 3rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* 3. FOOTER */

#PORTFOLIO-Y-REDES {
    color: rgb(255, 246, 205);
}

.REDES {
    display: flex;
    align-items: center;
    gap: 8px;
}

#BSAS-ARG {
    font-size: 0.6rem;
    color: rgb(255, 246, 205);
}