/* CSS DOCUMENT */
@charset "UTF-8";

/* FONTFACE PARA TÍTULOS/SUBT. */

@font-face {
    font-family: 'Chillax REGULAR';
    src: url(fuentes/Chillax-Regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax EXTRALIGHT';
    src: url(fuentes/Chillax-Extralight.otf) format(opentype);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax MEDIUM';
    src: url(fuentes/Chillax-Medium.otf) format(opentype);
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax BOLD';
    src: url(fuentes/Chillax-Bold.otf) format(opentype);
    font-weight: bold;
    font-style: normal;
}

/* SELECTORES UNIVERSALES */
* {
    font-family: 'Inter';
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

/* ESTILOS EN GENERAL */

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Chillax REGULAR';
}

body {
    background-color: rgb(255, 246, 205);
    padding: 0;
    min-width: 300px;
}

header {
    background-color: rgb(66, 66, 160);
    padding: 30px;
    min-width: 300px;
    max-height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    gap: 40px;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin: 250px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    background-color: rgb(66, 66, 160);
    color: rgb(255, 246, 205);
    padding: 20px;
}

nav a {
    font-family: 'Chillax MEDIUM';
    font-size: 0.7rem;
    padding: 4px 12px;
    background: rgb(255, 246, 205);
    border-radius: 100px;
    color: rgb(66, 66, 160);
}

p {
    text-wrap-style: pretty;
    font-size: 1rem;
}

li::marker {
    color: rgb(66, 66, 160);
}

ul {
    line-height: 1.3rem;
}

/* título */

h1 {
    font-family: 'Chillax MEDIUM';
    color: rgb(255, 246, 205);
    font-size: 3rem;
    letter-spacing: 15px;
}

/* subtítulos */
h2,
h3 {
    font-family: 'Chillax MEDIUM';
    color: rgb(66, 66, 160);
}

h2 {
    font-size: 1.8rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

h3 {
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 15px;
    color: rgb(255, 246, 205);
    ;
}

h4 {
    color: rgb(66, 66, 160);
}

/* SELECTORES DE CLASE O ID */

/* 1. HEADER */

#bajada {
    font-family: 'Chillax REGULAR';
    color: rgb(255, 246, 205);
    line-height: 1rem;
    font-size: 0.7rem;
    margin-bottom: 20px;
}

/* 2. MAIN */

.contenido {
    min-width: 300px;
    width: 100%;
    max-width: 1000px;

    p {
        color: rgb(63, 63, 63);
        max-width: 700px;
    }
}

.duracion {
    margin: 10px 0 0 0;
    font-weight: 700;
    /* Bold */
}


.programas {
    line-height: 3rem;
    display: flex;
    gap: 10px;
    align-items: center;
    font-style: italic;
}

#galeria {
    background-color: #e18297c9;
    border-radius: 40px;
    padding: 40px;
    margin: 100px 0 150px 0;

    h2 {
        margin: 10px 0 20px 0;
        color: rgb(255, 246, 205);
    }

    h3 {
       text-align: center;
       margin: 30px 0 20px 0;
       font-size: 1.3rem;
    }
}

.trabajos-ilustraciones {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;

    img {
        height: 345px;
        width: 260px;
        max-width: 100%;
        object-fit: contain;
        border-radius: 20px;
    }

    h4 {
        font-family: 'Chillax MEDIUM';
        font-size: 0.9rem;
        color: #e18297c9;
        line-height: 1.3rem;
        margin: 10px 0 5px 0;
    }
}

.descripcion-trabajos-ilustraciones {
    background-color: rgb(255, 246, 205);
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
    width: 290px;

    p {
        font-size: 0.9rem;
        color: rgb(66, 66, 160);
        line-height: 1.3rem;
    }
}

#contactos-portfolio {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.contacto-portfolio {

    p {
        font-family: 'Chillax REGULAR';
        font-size: 0.8rem;
        color: rgb(255, 246, 205);
        line-height: 1rem;
        margin-top: 10px;
    }

    background: rgb(66, 66, 160);
    border-radius: 100px;
    width: 350px;
    padding: 20px 60px;
    text-align: center;
}

/* 3. FOOTER */

#redes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0 15px 0;

    a {
        color: rgb(255, 246, 205);
    }
}

.img-red {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 1rem;
}

#lugar {
    font-size: 0.8rem;
    color: rgb(255, 246, 205);
}